html {
  font-size: 10px; 
  font-family: 'ZCOOL KuaiLe', cursive; 
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #EDA5DB;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #DAEF51;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #EDA5DB;
  text-shadow: 3px 3px 1px black;
}

h3 {
  font-size: 0.2px;
}

img {
  width: 550px;
  display: block;
  margin: 0 auto;
}